.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader-icon {
  margin-right: 10px;
}

.loader-text {
  color: var(--glob-color-muted-gray);
  font-size: 16px;
  line-height: 24px;
}