.sidebar-sticky-container {
  padding: 8px;
  width: 100%;
}

.sidebar-stick {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s linear;
  border-radius: 8px;
}

.sidebar-stick-icons {
  display: flex;
  align-items: center;
}

.sidebar-stick:hover {
  background-color: var(--glob-color-accent);
}

.icon-container-2 {
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container-2-nopadding {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.icon-container-svg {
  width: 16px;
  height: 16px;
}

.icon-container-nopadding {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar-stick-icon {
  display: flex;
  color: white;
  width: 16px;
  height: 16px;
}

.sidebar-stick-text-container {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.sidebar-stick-title {
  font-weight: 600;
  line-height: 17.5px;
}

.sidebar-stick-subtitle {
  font-weight: 400;
  line-height: 16px;
}