// Компонент универсальных кнопок

.add-event {
  margin: var(--glob-padding-horiz);
}

.icon-large {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  fill: white;
}

.icon-medium {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}


.btn-medium {
  display: flex;
  font-weight: 500;
  min-height: 32px;
  justify-content: center;
  border: none;
  border: 1px solid transparent;
  border-color: transparent;
  padding: 7px 0px;
  background-color: var(--glob-color-black);
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
  transition: background-color .2s linear;
  margin-bottom: 8px;
  margin-top: 8px;
  transition-property: color,background-color, border,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .40s;
  padding: 0 50px;
}

.btn-medium:hover {
  background-color: var(--glob-color-black-hover);
  border: 1px solid var(--glob-color-black);
}

.btn-medium:disabled {
  background-color: var(--glob-color-muted-gray);
  cursor: default;
}

.btn-medium:disabled:hover {
  border: none;
  border-color: transparent;
}


.btn-background-empty {
  background-color: transparent;
  transition-property: color,background-color, border,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.btn-background-empty:hover {
  background-color: var(--glob-color-accent-gray);
}

.danger {
  background-color: #DC2626;
  color: white;
  border: 1px solid #DC2626;
}

.danger:hover {
  background-color: #DF3B3B;
  border: 1px solid #DC2626;
}

.outline {
  background-color: transparent;
  color: black;
  border: 1px solid white;
}

.gray {
  background-color: var(--glob-color-accent);
  color: black;
  border: none;
  transition: background-color 0.2s linear;
}

.gray:hover {
  background-color: var(--glob-color-accent-darkgray);
  border: none;
}

.btn-full-width {
  width: 100%;
  padding: 0;
}