.categories {
  margin-top: 10px;
  // padding: 16px;
}

.categories-title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 18px;
}

.button-text {
  border: none;
  background-color: transparent;
  margin-top: 5px;
  padding: 0;
  margin-left: 18px;
}

.categories-list {
  padding: 8px 0;
}

.categories-item-container {
  height: 32px;
  display: flex;
  align-items: center;

}

.categories-item {
  line-height: 1.25rem;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: transparent;
  color: black;
  margin-bottom: 4px;
  transition: background-color 0.3s;
}

.categories-item:hover {
  background-color: var(--glob-color-accent);
  cursor: pointer;
}