.categories {
  margin-top: 10px;
  // padding: 16px;
}

.categories-title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 18px;
}

.button-text {
  border: none;
  background-color: transparent;
  margin-top: 5px;
  padding: 0;
  margin-left: 18px;
}

.categories-item {
  margin: 0 18px;
  border-radius: 4px;
  background-color: rgb(110 217 110);
  padding: 10px 18px 10px 18px;
  // padding-left: 18px;
  color: white;
  margin-bottom: 4px;
}