.rdp {
  --rdp-cell-size: 28px;
  margin: 0;
}

.rdp-root {
  --rdp-day_button-width: 32px;
  --rdp-day_button-height: 32px;
  --rdp-day-width: 32px;
  --rdp-day-height: 32px;
}

// Цвет ячейки при hover эффекте
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--glob-color-accent-darkgray);
}

.rdp-months {
  border: 1px solid var(--glob-main-border-color);
  border-radius: 6px;
  padding: 13px;
}

.rdp-week {
  display: flex;
  margin-top: .5rem;
  width: 100%;
}

.date-picker-lib {
  display: flex;
  justify-content: center;
  padding: 18px;
}

.rdp-weekday {
  font-size: 14px;
}

.rdp-day_button {
  font-size: 14px;
  border-radius: 10px;
  transition-property: background-color;
  background-color: none;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  font-weight: 400;
}

.rdp-day_button:hover {
  border-radius: 10px;
  background-color: rgba(244, 244, 245, 1);
}

.rdp-today:not(.rdp-outside) .rdp-day_button {
  color: black;
  // border: 1px solid rgb(156, 156, 156);
  background-color: rgb(192, 192, 192);
  border-radius: 10px;
}

.rdp-selected { 
  font-size: 16px;
}

.rdp-selected .rdp-day_button {
  border: 0px solid rgb(58, 58, 58);
  border-radius: 10px;
  background-color: rgb(58, 58, 58);
  color: white;
}

.rdp-caption {
  margin-bottom: 5px;
}

.rdp-caption_label {
  left: 55px;
  font-size: 14px;
  font-weight: 500;
}

.rdp-caption_label {
  justify-content: center;
}

.rdp-nav_button_previous {
  left: -136px
}

.rdp-nav_button_next {
  right: 0;
}

.rdp-chevron {
  fill: #b3b3b3;
}

.rdp-nav_button_previous, .rdp-nav_button_next {
  border-radius: 6px;
  border: 1px solid var(--glob-main-border-color);
  opacity: .5;
  transition-property: opacity, fill;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.rdp-nav_button_previous:hover, .rdp-nav_button_next:hover {
  opacity: 1;
}


