.registration-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.info-container {
  padding: 40px;
  background-color: black;
  color: white;
  width: 40%;
}

.function-container {
  padding: 40px;
  color: black;
  width: 60%;
}

.auth {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-link {
  display: flex;
  justify-self: flex-end;
}

.auth-link {
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 6px;
  line-height: 1.25rem;
}

.auth-link:hover {
  background-color: gray;
}

.auth-form {
  margin-top: 15px;
  width: 350px;
}

.auth-error {
  text-align: center;
  color: hsl(0 84.2% 60.2%);
  margin-bottom: 8px;
}