.sidebar {
  min-width: 300px;
  height: 100%;
  border-right: 1px solid var(--glob-main-border-color);
  overflow-y: auto;
  background-color: #fafafa;
}

// .calendar-container {
//   // width: 500px;
// }

.container-padding {
  margin: 0px 18px;
}

