* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
    
  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    // box-shadow: 0 0px 12px 0px rgba(194, 194, 194, .5);

  }
  .title-2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
  }
  
}

svg path {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
}

.title-2xl {
  font-size: 26px;
  font-weight: 600;
  line-height: 2rem;
}

.text-normal-gray {
  color: var(--glob-color-muted-gray);
  font-size: 14px;
  line-height: 1.25rem;
  margin-top: 8px;
  margin-bottom: 8px;
}
